.mid-target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-design {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../img/loginbg.jpg");
}

#my-signin2 {
    top: 70%;
    box-shadow: 2px 2px 4px white;
}

.footer {
    bottom: 0px;
    position: absolute;
    color: #19c9d2;
    right: 4px;
    font-weight: bold;
    text-shadow: 1px 2px 3px #3034a2;
    font-size: 25px;
    font-style: italic
}

.main-heading {
    font-size: 435%;
    text-shadow: 2px 2px 4px;
    color: white;
}

.font-change {
    font-family: Arial, Helvetica, sans-serif;
}